@charset "utf-8";

/* 全体の設定 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	width: 100vw;
	line-height: 1.7;
	font-size: 16px;
	font-family: -apple-system, BlinkMac SystemFont, "Helvetica Neue", 'Noto Sans JP', "ヒラギノ角ゴ ProN W3",'ヒラギノ角ゴ W3', "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	color: #333;
	background-color: #F2EDDF;
}

/* header */
header {
	width: 100%;
	background-color: #fff;
	align-items: center;
}
header .header-container {
	width: 85vw;
	margin: 0 auto;
	/* padding: 0 50px; */
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
header h1 img {
	width: 200px;
	margin-right: 10vw;
}

/* header画像のレスポンシブ */
@media screen and (max-width: 896px) {
	header h1 img {
		max-width: 50vw;
	}
}

/* ナビゲーションの装飾 */
header .pc-nav ul {
	display: flex;
	flex-wrap: wrap;
}
header .pc-nav ul li {
	padding-bottom: 5vh;
}
header .pc-nav ul li img {
	width: 11vw;
	min-width: 125px;
}

/* スタッフ紹介の左 */
header .pc-nav .stuff {
	margin-left: 2vw;
}

/* pcのときmobileナビは消去 */
.mobile-nav {
	display: none;
}

/* グローバルナビ - レスポンシブ */
@media screen and (max-width: 896px) {
	.pc-nav {
		display: none;
	}
	#gnav-toggle {
		position: relative;
		display: block;
		width: 30px;
		height: 25px;
		margin: 0 0 5vh auto;
	}

	/* ハンバーガーメニュー */
	#gnav-toggle span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 1px;
		background-color: rgb(150, 120, 60);
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		-ms-border-radius: 1px;
		-o-border-radius: 1px;
	}
	#gnav-toggle::before,
	#gnav-toggle::after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: rgb(150, 120, 60);
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		-ms-border-radius: 1px;
		-o-border-radius: 1px;
	}
	#gnav-toggle::before {
		position: absolute;
		top: 0;
		left: 0;
	}
	#gnav-toggle::after {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	/* モバイルのメニュー */
	.mobile-nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: block;
		background: rgba(75, 60, 29, 0.8);
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		opacity: 0;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
}
	.mobile-nav ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.mobile-nav li {
		margin: 0;
		padding: 0;
	}
	.mobile-nav li span {
		font-size: 15px;
		color: #fff;
	}
	.mobile-nav li a,
	.mobile-nav li span {
		display: block;
		padding: 20px 0;
	}
	.mobile-nav li a {
		color: #fff;
	}

	/* closeマーク装飾 */
	.mobile-nav .close {
		position: relative;
		padding-left: 1.5em;
	}
	/* バツ線 */
	.mobile-nav .close::before,
	.mobile-nav .close::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
	}
	.mobile-nav .close::before {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	.mobile-nav .close::after {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}
	
	/* jQueryのtoggleの指定 */
	.toggle {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		opacity: 1;
	}
}


main {
	width: 80vw;
	margin: 0 auto;
	padding: 0;
}

/* catch */
.catch {
	margin-top: 4vw;
	margin-bottom: -0.5vw;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.catch p {
	padding-bottom: 1.5vh;
}
h2 {
	font-size: 2em;
	color: #855730;
	font-weight: normal;
	letter-spacing: 0.2em;
	margin-bottom: 1vw;
}
.catch p span {
	font-size: 14px;
}
.catch .catch-img img {
	width: 40vw;
}

/* catch部分レスポンシブ */
@media screen and (max-width: 896px) {
	.catch .catch-img img {
		width: 80vw;
	}
}

/* info */
.info {
	background-color: rgb(227, 224, 198);
	width: 80vw;
	margin-top: 2vh;
	padding: 3vh 0;
}
.info-container {
	width: 72vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0.5em;
	color: #855730;
}
/* お知らせ */
.info .info-news {
	max-width: 30vw;
	margin-right: 5vw;
}
.info dl {
	margin-bottom: 5vh;
}
.info dl dt {
	color:#7E7B2D;
}
.info dl dd {
	padding-left: 1em;
}

/* info-schedule 診療時間table */
.info-schedule table {
	margin-bottom: 1vw;
}
.info-schedule table th {
	color: #fff;
	font-weight: normal;
	background-color: #BF9538;
	padding: 1em;
}
.info-schedule table .reception-time {
	border-top-left-radius: 5px;
}
.info-schedule table .sun {
	border-top-right-radius: 5px;
}
.info-schedule table .time {
	border-bottom-left-radius: 5px;
}

.info-schedule table td {
	text-align: center;
	color: #cca161;
	font-size: 1.6em;
	background-color: #fff;
}
.info-schedule table .bottom-right {
	border-bottom-right-radius: 5px;
}

/* 診療時間table部分レスポンシブ */
@media screen and (max-width: 480px) {
	.info .info-news {
		max-width: 80vw;
	}
	.info .info-schedule {
		max-width: 80vw;
	}
	.info-schedule table {
		/* margin: 0 auto; */
		width: 72vw;
		font-size: 0.8em;
	}
	.info-schedule table th {
		padding: 2vw;
	}
	.info-schedule table td {
		text-align: center;
		color: #cca161;
		font-size: 1em;
		background-color: #fff;
	}
}

/* 診療時間下諸項目 */
.reserved {
	font-size: 2em;
	color: #855730;
	font-weight: 700;
	letter-spacing: 0.15em;
}
.reserved .tel {
	font-size: 0.7em;
	letter-spacing: normal;
}
.reserved .appointment {
	font-size: 0.8em;
	color: #8b8b5a;
	/* font-weight: normal; */
	letter-spacing: normal;
}

/* 診療時間下諸項目レスポンシブ */
@media screen and (max-width: 480px) {
	.reserved {
		font-size: 1.5em;
		letter-spacing: normal;
	}
	.reserved .tel {
		font-size: 0.7em;
	}
	.reserved .appointment {
		font-size: 0.7em;
	}
}


/* 診療対象　target */
.target {
	background-color:rgba(204, 170, 96, 0.3);
	margin-top: 2vw;
	padding: 3vw 4vw;
}

.target table th {
	background-color: #A5A36C;
	color: #fff;
	line-height:1.25em;
	padding: 1em;
}
.target table td {
	background-color:  #fff;
	padding: 1em;
}
.target table .bird {
	border-top-left-radius: 5px;
}
.target table .bird-data {
	border-top-right-radius: 5px;
}
.target table .etc {
	border-bottom-left-radius: 5px;
}
.target table .etc-data {
	border-bottom-right-radius: 5px;
}




/* guidance */
.guidance {
	background-color:rgb(227, 224, 198);
	margin-top: 2vw;
	padding: 3vw 4vw;
}
.guidance .list {
	margin: 0.5em 0;
}
.guidance dl {
	margin-left: 1em;
}
.guidance dl dt {
	font-weight: bold;
	display: inline-block;
}
.guidance dl dd {
	display: inline-block;
}


/* main部分　backgroundなど */
.green {
	background-color:rgb(227, 224, 198);
	margin-top: 2vw;
	padding: 3vw 4vw;
}
.brown {
	background-color:rgba(204, 170, 96, 0.3);
	margin-top: 2vw;
	padding: 3vw 4vw;
}
.green .stuff,
.brown .stuff {
	display: flex;
}
.brown .stuff {
	margin-bottom: 2vw;
}
.green .stuff figure img,
.brown .stuff figure img {
	width: 15vw;
	margin-right: 5vw;
}
.green .stuff ul,
.brown .stuff ul {
	list-style: none;
	margin-bottom: 1em;
}
.green .stuff dl dd,
.brown .stuff dl dd {
	margin-left: 1em;
}
.brown p {
	padding-bottom: 0.5em;
}
.brown span {
	font-size: 14px;
}

/* careers */
.careers {
	background-color:rgba(204, 170, 96, 0.3);
	margin-top: 2vw;
	padding: 3vw 4vw;
}

/* access */
.access-map {
	width: 100%;
	height: 50vw;
}





/* footer */
footer {
	background-color: #fff;
	padding-top: 5vh;
	margin-top: 5vh;
}
.footer-info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 5vw;
}
footer .footer-link {
	text-align: center;
	margin-right: 5vw;
}
footer .footer-link a img {
	width: 200px;
	margin: 0 0 1.5em 0;
	
}
footer .footer-link .footer-btn {
	width: 200px;
	color: #fff;
	font-size: 18px;
	padding: 0.4em;
	border-radius: 5px;
	margin-bottom: 1em;
	background-color: #A5A36C;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
footer .footer-link .footer-btn a {
	text-decoration: none;
	display: block;
}
footer .footer-link .footer-btn:hover {
	background-color: #8b8b5a;
}
footer .footer-link .footer-btn a:link,
footer .footer-link .footer-btn a:visited,
footer .footer-link .footer-btn a:active {
	color: #fff;
}



footer .info-schedule table td {
	background-color: #F2EDDF;
}

/* footerのみのtable設定レスポンシブ */
@media screen and (max-width: 896px) {
	footer .footer-info {
		max-width: 80vw;
		margin: 0 auto;
	}
	footer .footer-info table {
		/* table-layout: fixed; */
		width: 80vw;
	}
	footer .footer-link {
		margin: 0 auto;
	}
}

address {
	font-style: normal;
}

/* copyright */
footer .copyright {
	padding: 1em;
	text-align: center;
}
footer .copyright small {
	font-size: 16px;
}